---
import Icon from './Icon.astro';
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <div class="flex-align-center gap-2 lg:gap-4">
      <Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>Frontend dev</h2>
    </div>
    <p>With an engineering background</p>
    <!-- <Icon icon="react" viewBox="0 0 512 512" size="3rem" /> -->
    <div class="flex gap-2">
      <img width="36px" src="/assets/logos/react.png" />
      <img width="36px" src="/assets/logos/vue.png" />
      <img width="36px" src="/assets/logos/javascript.png" />
      <img width="36px" src="/assets/logos/typescript.png" />
      <img width="36px" src="/assets/logos/tailwind.png" />
    </div>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <div class="flex-align-center gap-2 lg:gap-4">
      <Icon icon="globe" color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>Polyglot</h2>
    </div>
    <p style="display: flex;">
      I speak <img
        src="/assets/flags/en.png"
        width="24px"
        style="margin-left: 4px; margin-right: 2px;"
      />, <img
        src="/assets/flags/fr.png"
        width="24px"
        style="margin-left: 4px; margin-right: 4px;"
      /> & <img
        src="/assets/flags/es.png"
        width="24px"
        style="margin-left: 4px; margin-right: 2px;"
      />
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <div class="flex-align-center gap-2 lg:gap-4">
      <Icon icon="layout" color="var(--accent-regular)" size="2.5rem" gradient />
      <h2>UX/UI-oriented</h2>
    </div>
    <p>My UX/UI & product approach lets me create user-friendly products</p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills > div {
    display: flex;
    align-items: center;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    text-align: center;
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills > div {
      align-items: flex-start;
    }

    .skills p {
      text-align: start;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
